{
    attributes = (
        {
            columnName = courseOfferingId; 
            name = courseOfferingId; 
            prototypeName = foreignId; 
        }, 
        {columnName = dateCompleted; name = dateCompleted; prototypeName = dateTime; }, 
        {
            allowsNull = N; 
            columnName = description; 
            name = description; 
            prototypeName = mediumText; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = "max_result"; name = "max_result"; prototypeName = float; }, 
        {
            allowsNull = Y; 
            columnName = outcomePairID; 
            name = outcomePairID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (courseOfferingId, dateCompleted, description, "max_result"); 
    className = "net.sf.webcat.outcomesmeasurement.Coursework"; 
    classProperties = (
        courseOffering, 
        dateCompleted, 
        description, 
        "max_result", 
        outcomePair, 
        studentAnswers
    ); 
    externalName = Coursework; 
    fetchSpecificationDictionary = {}; 
    name = Coursework; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = CourseOffering; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = courseOfferingId; }); 
            name = courseOffering; 
        }, 
        {
            destination = OutcomePair; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = outcomePairID; }); 
            name = outcomePair; 
        }, 
        {
            destination = StudentAnswer; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = courseworkID; sourceAttribute = id; }); 
            name = studentAnswers; 
        }
    ); 
}
